{% extends "base.html" %} 
{% block content %} 
<!-- content -->
    <div class="custom-container layout-padding-top-bottom-large">
        <div class="ui container">
            <!-- header -->
            <div class="ui padded top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header text-regular">归档</h3>
                    </div>
                    <div class="right aligned column">共
                        <h2 class="ui yellow header layout-inline-block text-light">113</h2>
                        篇
                    </div>
                </div>
            </div>

            <h2 class="ui center aligned header">2021</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

            </div>

            <h2 class="ui center aligned header">2020</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

            </div>

            <h2 class="ui center aligned header">2019</h2>
            <div class="ui fluid vertical menu">

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>
                <a href="#" target="_blank" class="item layout-padding-top-bottom-small">
                    <span>
                        <i class="green circle icon layout-padding-top-bottom-tiny"></i> 文章标题
                        <div class="ui teal basic label layout-padding-top-bottom-tiny">2021-11-04</div>
                    </span>
                    <div class="ui yellow basic label layout-padding-top-bottom-tiny text-light">转载</div>
                </a>

            </div>

        </div>


    </div>

    <br>
    <br>

{% endblock content %} 