{% extends "base.html" %} 

{% block content %}
<div class="custom-container layout-padding-top-bottom-large">
    <form class="ui form" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="ui dividing header">Login in </legend>
        <div class="field">
          <label>{{form.email.label}}</label>
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form.email}}
            {% endif %}
        </div>
        <div class="field">
          <label>{{form.password.label}}</label>
          {% if form.password.errors %}
            {{ form.password }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.password}}
          {% endif %}
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.remember }}
            {{ form.remember.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui basic segment">
            <div class="ui grid">
              <div class="ui nine wide column">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
              <div class="ui seven wide column">
                <small>
                  <a href="#">Forgot Password?</a>
                </small>
              </div>
            </div>
          </div> 
        </div>
      </form>
      <br>
      <div class="ui bottom attached warning message">
        <i class="icon help"></i>
        Need An Account? <a href="{{ url_for('register')}}">Sign Up Now</a> instead.
      </div>
      <br>
{% endblock content %}